@using Chess.Models
@model Board
@{ 
    ViewBag.Title = "Play Chess!";
    Board board = Model;
}
@for (int i = 0; i < Board.Width; i++)
{
    <div class="row fit-content">
        @foreach (Square square in board.Squares.Skip(i * 8).Take(8))
        {
            <div class="col-xs-1 square @(square.White ? "white" : "black")">
                @Html.Raw(!string.IsNullOrEmpty(square.InitialPiece) ? $"<i class=\"glyphicon glyphicon-{square.InitialPiece}\"></i>" : string.Empty)
            </div>
        }
    </div>
}